<header class="mb-lg-20">
  <span class="float-left">
    <a id='title'  href="/">
    <img src="../images/1_Primary_logo_on_transparent_253x65.png" alt="ロゴ" width="155" height="40">
    </a>
    <a id='search' href="/search">
    <img src="../images/icon_108230_256.png" alt="検索" width="40" height="40" />
    </a>
    <a href="/createList">新規作成</a>
  </span>
  <span class="float-right">
    <a href="/setAccount">アカウント管理</a>
    <a href="/logout">ログアウト</a>
  </span>
</header>
<br>
<br>